{% extends 'base.html' %}

{% block title %} Studienarbeit {% endblock %}

    
{% block headerLink %} 
    <li class="active">Home</li>
    <li class="header-li"><a href="{{ url_for('about') }}" class="header-link">About</a></li>
{% endblock %}


{% block content %}
<form method="POST">
    <section id="overlay">
        <h1 class="form-heading">Start a camera routine!</h1>
        <hr class="heading-line">
        <section class="dataLabel">
            <label for="dataLabel">Input a label for the generated images: </label>
            <input type="text" name="dataLabel" id="dataLabel" placeholder="add label"  value="{{ request.form['dataLabel'] }}">
        </section>
        <hr>
        <section class="dataLabel">
            <label for="numImages">Input number of images: </label>
            <input type="text" name="numImages" id="numImages" placeholder="100"  value="{{ request.form['numImages'] }}">
        </section>
        <hr>
        <section class="submit">
            <input type="submit" value="Submit">
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </section>
    </section>
</form>

<p>Server time: <span id="clock"></span></p>

<script>
    const socket = new WebSocket('ws://' + location.host + '/clock');
    socket.addEventListener('message', ev => {
        msg = JSON.parse(ev.data);
        document.getElementById('clock').innerHTML = msg.text;
    });
</script>

{% endblock %}
