{% extends 'base.html' %}

{% block title %} Studienarbeit {% endblock %}


{% block headerLink %} 
    <li class="header-li"><a href="{{ url_for(link) }}" class="header-link">Home</a></li>
    <li class="active">About</li>
{% endblock %}


{% block content %}
    <div class="about-container">
        <div class="card">
            <h1 class="title">Studienarbeit Teil 2: T3200</h1>
            <hr>
            <h1 class="title">Entwicklung eines Systems zur automatisierten Aufnahme von <br>
                Bilder für KI (CNN) mit Unterstützung des Roboters Cobotta</h1>
            <hr class="about-line">
            <h2>Betreuer:</h2>
            <div class="betreuer">
                <Ul class="list">
                    <li class="line">Sven Benseler</li>
                    <li class="line">Stefan Bauer</li>
                </Ul>
            </div>
        </div>
    </div>
        
{% endblock %}

