{% extends 'base.html' %}

{% block title %} Studienarbeit {% endblock %}

    
{% block headerLink %} 
    <li class="active">Home</li>
    <li class="header-li"><a href="{{ url_for('about') }}" class="header-link">About</a></li>
{% endblock %}


{% block content %}
<form method="POST">
    <section id="overlay">
        <h1 class="form-heading">Start a camera routine!</h1>
        <hr class="heading-line">
        <section class="dataLabel">
            <label class="data-text" for="dataLabel">Input a label for the generated images: </label>
            <input class="data-input" type="text" name="dataLabel" id="dataLabel" placeholder="add label"  value="{{ request.form['dataLabel'] }}">
        </section>
        <hr>
        <section class="dataLabel">
            <label class="data-text" for="numImages">Input number of images: </label>
            <input class="data-input" type="number" name="numImages" id="numImages" placeholder=100 min=0 value="{{ request.form['numImages'] }}">
        </section>
        <hr>
        <section class="submit">
            <input class="submit-button" type="submit" value="Submit">
        </section>
    </section>
</form>

{% endblock %}
