{% extends 'base.html' %}

{% block title %} Studienarbeit {% endblock %}

{% block headerLink %}
    <li class="active">Home</li>
    <li class="header-li"><a href="{{ url_for('about') }}" class="header-link">About</a></li>
{% endblock %}

{% block content %}
    <div class="video-img">
        <div>
            <img id="refresh_img" class="module-border-wrap" src="{{ url_for('static', filename= 'images/Test_Images/rot.png') }}">
        </div>
    </div>

    <div class="running_container">
        <div class="card">
            <h3>Routine is running!</h3>
            <div class="wrapper">
                <div class="progress-bar">
                    <span class="progress-bar-fill" style="width: 30%;" id="progress-bar-fill"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-success" id="wrapper-success">
        <div class="card">
            <div class="icon"><i class="fas fa-check-circle"></i></div>
                <div class="subject">
                    <h3>Success</h3>
                    <p>Anyone with access can view your invited visitors</p>
                </div>
            <div class="icon-times">
                <a href="{{ url_for('index') }}"><i class="fas fa-times"></i></a>
            </div>
        </div>
    </div>

<script>
    const socket_img = new WebSocket('ws://' + location.host + '/image');
    console.log("connected ws")
    socket_img.addEventListener('message', ev => {
        msg = JSON.parse(ev.data);
        var pic = document.getElementById('refresh_img');
        console.log(pic.src);
        pic.src = msg.img_src;
    });

    const socket_progress = new WebSocket('ws://' + location.host + '/progress');
    console.log("connected ws")
    socket_progress.addEventListener('message', ev => {
        msg = JSON.parse(ev.data);
        // console.log(msg.progress)
        var progress_bar = document.getElementById('progress-bar-fill');
        progress_bar.style = "width:" + msg.progress + ";";
    });


    var showElement = true; // change this value to show/hide the element
    var element = document.getElementById('wrapper-success');
    if (showElement) {
    element.style.display = 'block'; // show the element
    } else {
    element.style.display = 'none'; // hide the element
    }
</script>

{% endblock %}